@media only screen and (max-width: 1199px) {

	.serv-lst{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .serv-itm{
        padding: 0 15px;
        width: 90%;
        min-width: 90%;
        text-align: center;
    }

}

@media only screen and (max-width: 699px) {

    .top-screen-txt h1{

        font-size: 60px;

    }

    .title-wrap h2{

        font-size: 40px;

    }

}